body {
  font-family: "poppins";
  margin: 0;
  padding: 0;
}


.nav-bar {
  background: aqua;
  padding: 10px;
  display: block;
  color: gray;
  cursor: pointer;
  font-size: 1.5em;
  width: 100%;
  
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background: aqua;
  width: 100%;
  margin-left: -100%;
  transition: all 0.1s;
  justify-content: center;
}

.menu__link {
  display: block;
  color: black;
  padding: 10px;
  font-size: 1.2em;
  text-decoration: none;
 
}

.menu__link:hover {
  background: cornflowerblue;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Seccion sobre mi */

.icons img {
  margin: 8px;
  width: 50px;
}

.icons img:hover {
  transform: scale(1.1);
}

.container-first-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}

.container-about {
  width: 50%;
}

.container-about p {
  font-size: 20px;
}

.imgprofile {
  width: 300px;
  border-radius: 10px;
}

/* seccion proyectos */

.container-title {
  text-align: center;
}

.container-title h3 {
  font-size: 40px;
}

.container-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.projects {
  width: 25%;
  padding: 50px 38px 50px 38px;
  border-radius: 10px;
  margin-bottom: 40px;
  color: white;
}

.violeta {
  background: #5055df;
}

.celeste {
  background: #40a8fa;
}

.projects h4 {
  font-size: 30px;
  margin: 0;
}

.button {
  float: right;
  margin-top: 10%;
  color: white;
  background: cornflowerblue;
  padding: 5%;
  border-radius: 5px;

}

.button:hover {
  background: blue;
}

.projects p {
  font-size: 18px;
  height: 120px;
}

.menu-icon {
  display: none;
}

.img {
  width: 70%;
  border-radius: 5px;
  object-fit: contain;
}

/* tecnologias */

.container-title {
 text-align: center;
}

.container-icons-tech  {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

h4 {
  margin: 0;
}

/* footer */

footer {
  background: cornflowerblue;
  padding: 40px 0;
  text-align: center;
  margin-top: 40px;
}

.icon-footer {
  width: 50px;
  margin: 6px;
}

.icon-footer:hover {
  transform: scale(1.1);
}

.view {
  margin-left: 0;
}

/* Responsive */

@media (min-width:800px) {
  .nav-bar {
    display: none;
  }
  .menu {
    margin-left: 0;
    display: flex;
    
  }
}

@media (max-width: 800px) {
  .container-first-title {
    flex-direction: column;
    margin-top: 10px;
  }
  
  .container-icons-tech{
    flex-direction: column;
    
  }
  
  h4 {
    margin-bottom: 20px;
  }

  h1 {
    font-size: 23px;
  }

  h2 {
    font-size: 18px;
  }

  .container-about {
    width: 90%;
  }

  .container-about p {
    font-size: 13px;
  }

  .container-projects {
    flex-direction: column;
  }
  
  .projects {
    width: 70%;
    margin: auto;
    margin-bottom: 15px;
  }
}